# Ignore virtual environment directories
.env
.env.sie
.env.*.local
.venv

# Ignore IDE configuration files
.idea/

# Ignore __pycache__ directories
**/__pycache__/

# Ignore temporary files
*.tmp
*.swp
REQUISITOS.md
ARQUITETURA.md
ARQUITETURA_SIEPA.drawio
MODELAGEM_DE_DADOS.md
CONTEXT.MD
docs/
